{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="mt-5 pt-1 text-center">
        {% if request.user.is_authenticated %}
            <h1 class="mt-4 mb-1">السلام عليكم</h1>
            <h2 class="my-1">أَهْلًا وَسَهْلًا يا أستاذ  </h2>
            <h2 class="my-1">{{ request.user.teacher }}</h2>
        {% else %}
            <h1 class="mt-4 mb-1">السلام عليكم. كيف حالك؟</h1>
        {% endif %}

        <img class="m-1" src="{% static 'images/web-logo.gif' %}" width="350" alt="logo-sma">





    </div>


{% endblock %}
