{% extends 'base.html' %}

{% block content %}


    <div class="container m-5 text-center">
        <h1>Ini adalah halaman laporan</h1>
    </div>

    <div class="container">
        <div class="text-center">

            {% for data in ekskul %}
                <div class="card border-primary d-inline-flex text-start m-2" style="width: 18rem; height: 100%;">
                    <div class="card-header bg-primary text-light">
                        {{ data.get_tipe_display }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ data.nama }}</h5>
                        {% for pembina in data.pembina.all %}
                            <h6 class="card-subtitle mb-2 text-muted">Ustadz {{ pembina }}</h6>
                        {% endfor %}
                        <p class="p-0 m-0">Jadwal Pertemuan: {{ data.jadwal }} {{ data.waktu }}</p>
                        {% if data.jadwal_tambahan %}
                            <p class="p-0 m-0">Pertemuan tambahan: {{ data.jadwal_tambahan }} {{ data.waktu_tambahan }}</p>
                        {% endif %}
                        <p class="card-text p-0 m-0">Total laporan : {{ data.report_set.count }}</p>
                    </div>
                    <div class="card-footer border-primary text-light">
                        <a href="{% url 'laporan:laporan-input' data.slug %}" class="btn btn-sm btn-outline-dark">Input</a>
                        <a href="{% url 'laporan:laporan-upload' data.slug %}" class="btn btn-sm btn-outline-primary">Upload</a>
                        <a href="{% url 'laporan:laporan-detail' data.slug %}" class="btn btn-sm btn-outline-success">Rekap Laporan</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}