{% extends 'base.html' %}

{% block content %}
    {% load humanize %}
    <div class="mt-5 pt-4 text-center">
        <h1 class="m-3">Detail Laporan {{ ekskul.nama }}</h1>
        <a href="{% url 'laporan:laporan-ekskul' ekskul.slug %}" class="btn btn-danger">Kembali</a>
    </div>

    <div class="container">
        <table class="table table-hover w-100">
            <tbody>
            {% if data %}
                <tr>
                    <td>Nama Ekskul</td>
                    <td class="text-end">:</td>
                    <td>{{ data.nama_ekskul }}</td>
                </tr>
                <tr>
                    <td>Pembina {{ data.nama_ekskul.tipe }}</td>
                    <td class="text-end">:</td>
                    <td>{{ data.pembina_ekskul }}</td>
                </tr>
                <tr>
                    <td>Tanggal Pembinaan</td>
                    <td class="text-end">:</td>
                    <td>{{ data.tanggal_pembinaan|date:"j F Y" }}</td>
                </tr>
                <tr>
                    <td>Santri yang hadir</td>
                    <td class="text-end">:</td>
                    <td>
                        {% for santri in data.kehadiran_santri.all %}
                            <p>{{ santri.nama_siswa.nama }} ({{ santri.nama_siswa.get_kelas_display }})</p>
                        {% endfor %}

                    </td>
                </tr>
                <tr>
                    <td>Catatan Pembinaan</td>
                    <td class="text-end">:</td>
                    <td>{{ data.catatan_pembinaan }}</td>
                </tr>
                <tr>
                    <td>Foto pembinaan</td>
                    <td class="text-end">:</td>
                    <td>
                        {% for image in data.uploadimage_set.all %}
                            <img class="m-1" src="{{ image.foto_absensi.url }}" height="100%" width="100%">
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center fw-bold text-danger">Maaf, belum ada data :(</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}