{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="container w-100 vh-100 d-flex justify-content-center align-items-center">
        <form method="post" action="">
            {% csrf_token %}
            <div class="text-center">
                <img class="" src="{% static 'images/Binaaul-Mustaqbal.png' %}" alt="logo-sma" width="84" height="70">
                <img class="" src="{% static 'images/albinaa-vision.png' %}" alt="logo-albinaa-vision" width="187" height="70">
            </div>
            <h1 class="text-center my-3">SMA IT Al Binaa SuperApp</h1>
            <h2 class="text-center my-3 mt-3">Login</h2>
            {% if messages %}
                <ul class="messages text-danger">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="pass" class="form-control" id="password">
            </div>
            <button type="submit" class="w-100 btn btn-primary my-2">Login</button>
        </form>
    </div>
{% endblock %}
