{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 pt-4">
        <div class="row justify-content-center align-items-center">
            <h3 class="text-center">Data Prestasi SMA IT Al Binaa</h3>
            <a href="{% url 'prestasi-input' %}" class="btn btn-primary my-2">Input Data Prestasi</a>
            <a href="{% url 'menu' %}" class="btn btn-danger my-2">Kembali</a>
            <div class="col-sm mt-3">
                <table class="table table-hover w-100">
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Nama Lomba</th>
                        <th scope="col">Tahun</th>
                        <th scope="col">Predikat</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Peraih</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if prestasi %}
                        {% for data in prestasi %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.nama_lomba}}</td>
                                <td>{{ data.tahun_lomba|date:"Y"}}</td>
                                <td>{{ data.kategori_kemenangan }}</td>
                                <td>{{ data.bidang_lomba }}</td>
                                <td>{{ data.peraih_prestasi }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center fw-bold text-danger">Maaf, belum ada data prestasi :(</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}